.header-container{
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: rgb(80, 115, 145);
}